@model PersonelMVC.Models.Departman
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merhaba</title>
</head>
<body>
    <div> 
        <h1>Merhaba</h1>
        <h2>@DateTime.Now</h2>

        <h1>Departman Id : @Model.Id</h1>
        <h1>Departman Adı : @Model.Ad</h1>
    </div>
</body>
</html>
